:root{
    --color_azul: #5C80BC;
    --color_blanco: #FAFAFA;
    --color_negro: #000000;
    --color_naranga: #FED9B7;
    --color_verde: #6BAB90;

}
*{
    text-align: center;
    margin: auto;
}
nav{
    background-color:  var(--color_verde);
    padding:   20PX;
    width: 100%;
    margin-bottom: 30px;

}
main{
    background-color: var(--color_blanco);
}

footer{
    background-color:  var(--color_verde);
    padding: 20px;
    width: 100%;

}
a{
   color:  var(--color_naranga);
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   margin-inline: 10px;

}
h1, p, h4{
       font-family: Arial, Helvetica, sans-serif;

}

td, th, tr{
    border: solid;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #000000;
}
table{
    border: solid, 2px ;
    width: 50%;
    border-collapse: collapse;
}
#parafoinicio{
    padding-bottom: 20px;
    padding-top: 20px;
}
#tablaincio{
    padding-bottom: 350px;
}
input{
    font-family: Arial, Helvetica, sans-serif;
    border: 1.5px solid var(--color_azul);
    margin-bottom: 10px;    
    border-radius: 6px;
    width: 100%;


}
label{
    font-family: Arial, Helvetica, sans-serif;
    
}
button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color_naranga);
    border: 1.5px solid var(--color_azul);
    border-radius: 6px;
    margin-bottom: 100px;
    margin-top: 50px;
    
}
.grindclass{
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: auto 1px;
    height: 5px;
    width: 45%;
    justify-content: center;
}